* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background-color: #dbaf6e;
	color: white;
}

.full-container{
	background-color: #322f44;
	height: 530px;
	width: 100%;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
.the-next{
	height: 30px;
	width: 8%;
	margin: 10px  0 0 20px;
}
.the-sec{
	height: 30px;
	width: 80%;
	margin: 10px  0 0 20px;
}

#other {
	text-align: center;
	font-family: arial;
	margin-top: 20px;
	font-size: 1.5em;
}

#other a{
	text-decoration: none;
	color: #fff; 
}

#texxt{
	font-family: sans-serif;
	line-height: 35px;
	font-size: 15px;
}

#spec{
	font-size: 1.8em;
}

.chev{
	color: #fff;
	border: solid #fff;
	height: 45px;
	padding: 5px 0 0 2px;
	text-align: center;
	border-radius: 5px;
}

.chev2{
	color: #dbaf6e;
}

.direction{
	display: inline-block;
	margin: 20px 0 0 20px;
}

.first-row{
	width: 100%;
	display: inline-block;
	height: 100px;
}

.to-left{
	width: 40%;
	float: left;
	padding: 0px 0 0 20px;
}

.to-middle{
	width: 15%;
	float: left;
	padding: 35px 0 0 10px;
	margin: 0% 0 0 12%;
}

.to-right{
	width: 30%;
	float: right;
	font-family: sans-serif;
	line-height: 20px;
	font-size: 15px;
	padding: 45px 0px 0 5px;
}

.next-class{
	background-color: #494461;
	width: 75%;
	margin:0% 0% 0 5%;
	border-radius: 10px;
	padding: 0px 0 2px 10px;
}

.fill-holder{
	width: 90%;
	background-color: #322f44;;
	border-radius: 10px;
	margin: 0% 0 0% 3%;
}

.filler{
	background-color: #c0bdd2;
	width: 30%;
	height: 20px;
	border-radius: 10px;
}

.middle-row{
	width: 100%;
    display: inline-block;
    height: 100px;
    background-color: #322f44;
    font-family: arial;
    font-weight: bold;
    color: #fff;
    padding: 10px 0 0 20px;
}

#months{
	width: 15%;
	display: inline-block;
	background-color: #fff;
	height: 40px;
	color: #322f44;
	text-align: center;
	padding: 10px 0 0 0px;
	border-radius: 10px;
	margin: 2% 0 0 5%;

}

.trend{
	background-color: #322f44;
	height: 160px;
	width: 95%;
	margin-left: 2.5%;
	display: inline-block;
}
.trend img{
	width: 100%;
	height: 160px;
}


/*Media Query*/

@media screen and (min-width: 300px){
	.full-container{
		height: 650px;
	}
	
}

@media screen and (min-width: 450px){
	.full-container{
		height: 630px;
		width: 80%;
		margin-top: 20px;
		margin-left: 10%;
		border-radius: 10px;
	}
	#other {
		background-color: #322f44;
		width: 30%;
		border-radius: 10px;
		line-height: 50px;
		margin-left: 35%;
		font-family: arial;
		font-size: 1.8em;
	}
	
}

@media screen and (min-width: 500px){
	.full-container{
		height: 600px;
		margin-top: 20px;
		width: 70%;
		margin-left: 15%;
	}
	
	
}

@media screen and (min-width: 600px){
	.full-container{
		height: 600px;
		width: 50%;
		margin-left: 25%;
	}
	
}
@media screen and (min-width: 1020px){
	.full-container{
		height: 600px;
		width: 30%;
		margin-left: 35%;
	}
	
}
